<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="#{request.contextPath}/css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:dataTable id="itens"
             summary="Candidatos"
             value="#{registroBean.candidatosList}"
             border="1"
             var="item">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="CPF" />
                </f:facet>
                <h:outputText value="#{item.cpf}" title="CPF"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Nome"/>
                </f:facet>
                <h:outputText value="#{item.nome}" title="Nome"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Cidade"/>
                </f:facet>
                <h:outputText value="#{item.cidade}" title="Cidade"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Estado"/>
                </f:facet>
                <h:outputText value="#{item.estado}" title="Estado"/>
            </h:column>
        </h:dataTable>
        <h:form>
            <div class="submit">
                <h:commandButton value="Voltar" action="inscricao"/>
            </div>
        </h:form>
    </ui:define>

</ui:composition>
