<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="#{request.contextPath}/css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">INSCRIÇÃO CONFIRMADA</div>
            Prezado(a) #{inscricaoBean.candidato.nome},<br/><br/>
            Seguem os dados da sua insrição<br/>
            Idioma escolhido: #{inscricaoBean.candidato.idioma.descricao}<br/>
            CPF: #{inscricaoBean.candidato.cpf}<br/>
            Data e hora:
            <h:outputText value="#{inscricaoBean.candidato.dataHora}">
                <f:convertDateTime dateStyle="full" locale="pt_BR"/>
            </h:outputText><br/>
            <div class="submit">
                <h:commandButton value="Voltar" action="inscricao"/>
            </div>
            <div class="submit">
                <h:commandButton value="Lista" action="candidatos"/>
            </div>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
